/*****************************************
* Detail Page (of product/company/label) *
*****************************************/

.detail-box {
  margin: 16px;
  padding: 16px;
  border: 1px solid;
  box-shadow: 0px 20px 22px -15px black;
  background-color: #fefefe;
}

.detail-box>h3 {
  margin-top: 12px;
}

.detail-box>h4 {
  margin-top: 8px;
}

#detail-overview-large {
  display: flex;
}

#detail-overview-small {
  display: none;
  flex-direction: column;
}

.detail-left-col {
  width: 268px;
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}

.detail-right-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #c1c1c1;
  padding-left: 16px;
}

.detail-img>img {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  border: 1px solid;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.detail-header>h2 {
  font-size: 2em;
  margin: 0;
}

@media (max-width: 768px) {
  .detail-left-col {
    width: 188px;
  }
  .detail-img>img {
    width: 170px;
    height: 170px;
    border-radius: 85px;
  }
  .detail-header>h2 {
    margin-bottom: 16px;
  }
}

@media (max-width: 590px) {
  #detail-overview-large {
    display: none;
  }
  #detail-overview-small {
    display: flex;
  }
}

.detail-data {
  margin-bottom: 8px;
}

.data-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 8px 16px;
}


/******************
* Total Score Bar *
*******************/

.score-blob-row {
  border-top: 1px solid #c1c1c1;
  margin-top: 8px;
}

.detail-data-text {
  font-weight: bold;
  white-space: nowrap;
}

.total-score-blob {
  font-size: 0.9em;
}

@media (max-width: 535px) {
  .total-score-blob {
    font-size: 0.8em;
  }
}

.total-score-bar-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #c1c1c1;
  padding: 8px 16px 16px 16px;
  margin-bottom: 8px;
}

.total-score-bar {
  width: 100%;
}


/************************
* Detail Score Bar Rows *
************************/

.detail-score {
  font-weight: bold;
  margin-bottom: 16px;
}

.score-table {
  width: 100%;
}

.score-table>tbody>tr>td {
  padding-right: 16px;
  padding-bottom: 8px;
}

.detail-score-bar {
  width: 100%;
}

.detail-score-bar .score-bar {
  height: 12px;
}

.detail-score-bar>.score-blob-gray {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-left: -10px;
}

@media (max-width: 360px) {
  .detail-score-bar {
    display: none;
  }
  .detail-score-blob {
    float: right;
  }
  .score-table>tbody>tr>.detail-score-blob {
    padding-right: 0;
  }
}


/**************
 * User boxes *
 **************/

.user-created-box {
  background: #ceddce;
  padding: 8px;
  font-size: 0.9em;
  margin-top: 16px;
}

.user-infos {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
}

.user-details {
  margin-left: 8px;
  word-wrap: anywhere;
}

.user-reputation {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.date {
  color: #555;
}


/***********************
* Producers/Labels/... *
***********************/

.alternating-boxes>div {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-bottom: 8px;
}

.alternating-boxes>div>h4 {
  margin-top: 0;
}

.alternating-boxes>div:nth-child(odd) {
  background-color: whitesmoke;
}

.alternating-boxes>div:nth-child(even) {
  background-color: lavender;
}

.entity-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo {
  max-width: 80px;
  max-height: 80px;
}

.entity-listing {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.entity-listing a {
  text-decoration: none;
  color: inherit;
}

.entity-listing>div {
  padding-right: 16px;
}

@media (max-width: 535px) {
  .logo {
    max-width: 50px;
    max-height: 50px;
  }
  .alternating-boxes>div {
    padding-left: 8px;
  }
  .entity-listing>div {
    padding-right: 8px;
  }
}


/*****************
* Voting         *
*****************/

.vote {
  position: relative;
}

.vote-info {
  width: 25px;
  position: absolute;
  top: -10px;
  left: 32px;
  cursor: pointer;
}

.vote-wedge {
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}

.vote-wedge:hover {
  border-bottom-color: #888;
  border-top-color: #888;
  cursor: pointer;
}

.vote-wedge-up {
  border-bottom: 20px solid #aaa;
  margin-bottom: 8px;
}

.vote-wedge-down {
  border-top: 20px solid #aaa;
  margin-top: 8px;
}

.voted {
  border-bottom-color: #40826d;
  border-top-color: #40826d;
}

.voted:hover {
  border-bottom-color: #40826d;
  border-top-color: #40826d;
  cursor: default;
}


/* .vote-wedge::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.vote-wedge-up::after {
  border-bottom: 20px solid #aaa;
} */


/* the darker border: */


/* .vote-wedge-up::before {
  content: "";
  position: absolute;
  border-bottom: 22px solid gray;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
} */

.vote-balance {
  color: dimgray;
  font-weight: bold;
}

@media (max-width: 535px) {
  /* .vote-wedge {
    border-left-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 10px;
    border-top-width: 10px;
  } */
}


/*****************
* Comments       *
*****************/

#general-comments>div.comment:nth-child(odd) {
  background-color: whitesmoke;
}

#general-comments>div.comment:nth-child(even) {
  background-color: lavender;
}

.comment {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-bottom: 8px;
}

.comment>div {
  padding-right: 16px;
}

.comment-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-meta {
  text-align: right;
}

.negative {
  opacity: 0.5;
}

@media (max-width: 535px) {
  .comment {
    padding-left: 8px;
  }
  .comment>div {
    padding-right: 8px;
  }
}