<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>The Viridian Network</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/score-bar.css">
  <link rel="stylesheet" type="text/css" href="css/hovercard.css">
  <link rel="stylesheet" type="text/css" href="css/detail-page.css">
</head>

<body>
  <header>
    <div id="header-top" class="three-full-widths">
      <div id="normal-header">
        <div>
          <img src="images/viridian_logo_bw_offwhite.svg" alt="Viridian Logo">
          <span id="brand-big">The Viridian Network</span>
          <span id="brand-small">Viridian</span>
        </div>
        <nav>
          <ul>
            <li>
              <a title="Search" href="#" onclick="document.getElementById('header-top').classList.add('slided-to-left-1-of-2');">
                <img src="icons/md-search.svg" alt="Search"><span id="search-span">Search</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="search-header">
        <a title="Back" href="#" onclick="document.getElementById('header-top').classList.remove('slided-to-left-1-of-2');">
          <img src="icons/md-arrow-back.svg" alt="Back">
        </a>
        <nav>
          <ul>
            <li>
              <a title="Search by Barcode" href="#">
                <img src="icons/barcode.svg" alt="Search by Barcode"><span id="barcode-search-span">Search by Barcode</span>
              </a>
            </li>
            <li>
              <a title="Search by Product Name" href="#" onclick="document.getElementById('header-top').classList.remove('slided-to-left-1-of-2'); document.getElementById('header-top').classList.add('slided-to-left-2-of-2');">
                <img src="icons/font.svg" alt="Search by Product Name"><span id="product-name-search-span">Search by Product Name</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="search-textinput-header">
        <a title="Back" href="#" onclick="document.getElementById('header-top').classList.remove('slided-to-left-2-of-2'); document.getElementById('header-top').classList.add('slided-to-left-1-of-2');">
          <img src="icons/md-arrow-back.svg" alt="Back">
        </a>
        <div><input type="text" name="product-name" id="product-name"></div>
        <a title="Submit" href="products-search-results.html">
          <img src="icons/md-send.svg" alt="Submit">
        </a>
      </div>
    </div>
    <ul id="header-tabs">
      <li>
        <a title="Products" class="active-tab" href="products.html"><img src="icons/md-cube.svg" alt="Products"><span id="products-span">Products</span></a>
      </li>
      <li>
        <a title="Labels" href="labels.html"><img src="icons/award.svg" alt="Labels"><span id="labels-span">Labels</span></a>
      </li>
      <li>
        <a title="Companies" href="companies.html"><img src="icons/building.svg" alt="Companies"><span id="companies-span">Companies</span></a>
      </li>
    </ul>
  </header>
  <div id="main-content">
    <section id="detail-overview">
      <div id="detail-overview-large" class="detail-box">
        <div class="detail-left-col">
          <prod-img v-bind:prod="prod"></prod-img>
          <prod-data v-bind:prod="prod"></prod-data>
          <prod-created v-bind:prod="prod"></prod-created>
        </div>
        <div class="detail-right-col">
          <prod-header v-bind:prod="prod"></prod-header>
          <prod-desc v-bind:prod="prod"></prod-desc>
          <prod-detailed v-bind:prod="prod"></prod-detailed>
          <prod-inherited screen="wide" v-bind:producers="producers" v-bind:labels="labels" v-bind:product-categories="productCategories" v-bind:contained-products="containedProducts"></prod-inherited>
        </div>
      </div>
      <div id="detail-overview-small" class="detail-box">
        <prod-header v-bind:prod="prod"></prod-header>
        <prod-img v-bind:prod="prod"></prod-img>
        <prod-desc v-bind:prod="prod"></prod-desc>
        <prod-data v-bind:prod="prod"></prod-data>
        <prod-detailed v-bind:prod="prod"></prod-detailed>
        <prod-inherited screen="narrow" v-bind:producers="producers" v-bind:labels="labels" v-bind:product-categories="productCategories" v-bind:contained-products="containedProducts"></prod-inherited>
        <prod-created v-bind:prod="prod"></prod-created>
      </div>
    </section>
    <section id="detail-comments">
      <div class="detail-box">
        <h2>General comments on the product:</h2>
        <div id="detail-comment-container">
          <div v-for="comment in comments" class="comment" v-bind:class="{ negative: comment.voteBalance < 0 }">
            <vote-wedges v-bind:entity="comment"></vote-wedges>
            <div class="column">
              <p>{{ comment.text }}</p>
              <div class="meta-compact"><a v-bind:href="comment.createUserURL" class="user-name">{{ comment.createUser }}</a> – <span class="date" v-bind:title="comment.createDateUTC">{{ comment.createDate }}</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="detail-infos">
      <div class="button">+ Add information</div>
      <div class="detail-box">
        <h2>Product's score based on rating the following information:</h2>
        <div id="detail-info-container">
          <article v-for="info in informations">
            <div class="info-vote-and-text">
              <vote-wedges v-bind:entity="info"></vote-wedges>
              <div>
                <h3>{{ info.title }} <span class="info-badge" v-bind:class="info.badgeClass" v-bind:title="info.badgeTooltip">{{ info.badgeLabel }}</span></h3>
                <p>{{ info.description }}</p>
              </div>
            </div>
            <div class="info-sources-and-users">
              <div class="info-sources">
                <strong v-if="info.sources.length > 1">Sources:</strong>
                <strong v-else>Source:</strong>
                <ul>
                  <li v-for="source in info.sources">
                    <span v-if="'authors' in source && source.authors.length > 0">
                  <a v-bind:href="source.url">{{ source.title }}</a>, ({{ source.authors.join(', ') }}) –
                  </span>
                    <span v-else>
                  <a v-bind:href="source.url">{{ source.title }}</a> –
                  </span> accessed <span class="date">{{ source.accessDate }}</span>
                  </li>
                </ul>
              </div>
              <div class="info-users">
                <prod-created v-bind:prod="info"></prod-created>
              </div>
            </div>
            <div class="separator"></div>
            <div class="info-ratings">
              <h4>Ratings:</h4>
              <div v-for="rating in info.ratings" class="rating" v-bind:class="{ negative: rating.voteBalance < 0 }">
                <vote-wedges v-bind:entity="rating"></vote-wedges>
                <div class="column">
                  <score-table v-bind:entity="rating"></score-table>
                  <div class="meta-compact"><a v-bind:href="rating.createUserURL" class="user-name">{{ rating.createUser }}</a> – <span class="date" v-bind:title="rating.createDateUTC">{{ rating.createDate }}</span></div>
                </div>
              </div>
            </div>
            <div class="separator"></div>
            <div class="info-comments">
              <h4>Comments:</h4>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
  <footer>
    <p>Copyright 2019 The Viridian Project</p>
  </footer>
  <!-- development version, includes helpful console warnings -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="js/vue.js"></script>
  <!-- <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script> -->
  <script src="js/components.js"></script>
  <script src="js/score-color.js"></script>
  <script src="data/preferences.js"></script>
  <script src="data/products.js"></script>
  <script src="data/producers.js"></script>
  <script src="data/labels.js"></script>
  <script src="data/score-inheritance.js"></script>
  <script src="data/comments-product.js"></script>
  <script src="data/informations.js"></script>
  <script src="data/ratings.js"></script>
  <script src="data/comments-informations.js"></script>
  <script>
    /****************
     * Prepare data *
     ****************/

    let prod_id = window.location.href.replace(/(.*)#(.*)/, '$2');
    let index = -1;
    for (let i = 0; index < 0 && i < productSearchResults.length; i++) {
      if (productSearchResults[i].id === prod_id) index = i;
    }
    let product = productSearchResults[index];
    /* Fetch the preferred locale */
    let prefLocale = {};
    let lang = undefined;
    for (let language of prefLanguages) {
      if (language in product.locales) {
        prefLocale = product.locales[language];
        lang = language;
        break;
      }
    }
    // if no preferred locale is present, fall back to first existing locale
    if (Object.keys(prefLocale).length === 0 && Object.keys(product.locales).length > 0) { // is there easier way to access object length?
      prefLocale = Object.values(product.locales)[0];
      lang = Object.keys(product.locales)[0];
    }
    // if still undefined, create default empty locale
    prefLocale = setDefaultIfEmpty(prefLocale);
    let score = calcTotalScore(product.score, preferences.scoreWeighting);
    let color = calcScoreColor(score);
    let detailedColors = {};
    let detailedPositions = {};
    for (let key in product.score) {
      let c = calcScoreColor(product.score[key]);
      detailedColors[key] = 'background-color: rgb(' + c[0] + ', ' + c[1] + ', ' + c[2] + ');';
      detailedPositions[key] = 'left: ' + (product.score[key] + 100) / 2 + '%';
    }
    let createDate = new Date(product.createdAt);
    let datetimeOptions = {
      year: 'numeric', // or: '2-digit',
      month: 'short',
      day: 'numeric',
      hour: 'numeric',
      minute: 'numeric'
    };
    let createDateInLocale = new Intl.DateTimeFormat(
      preferences.locale, datetimeOptions).format(createDate);

    let prod = {
      name: prefLocale.name,
      desc: prefLocale.description,
      quant: prefLocale.quantities[0],
      price: prefLocale.price,
      curr: prefLocale.currency,
      priceCurr: concatPriceAndCurrency(prefLocale.price, prefLocale.currency, preferences.locale),
      imgStyle: 'background-image: url("' + prefLocale.imageUrls[0] + '");',
      score: score,
      color: 'background-color: rgb(' + color[0] + ', ' + color[1] + ', ' + color[2] + ');',
      position: 'left: ' + (score + 100) / 2 + '%',
      detailedScore: product.score,
      detailedColors: detailedColors,
      detailedPositions: detailedPositions,
      createDateUTC: 'UTC timestamp: ' + product.createdAt,
      createDate: createDateInLocale,
      createUser: product.createdBy,
      createUserAvatar: 'images/avatars/' + product.createdBy + '.png',
      createUserURL: 'user.html#' + product.createdBy
    };
    console.log(prod);

    let productCategories = [];
    let containedProducts = [];

    let prdcrs = [];
    for (let producer of producers) {
      /* Fetch the preferred locale, matching the product's preferred locale (s.a.) */
      let prefLocale = {}
      if (lang in producer.locales) {
        prefLocale = producer.locales[lang];
      } else {
        // if undefined, create default empty locale
        prefLocale = setDefaultIfEmpty(prefLocale);
      }
      let score = calcTotalScore(producer.score, preferences.scoreWeighting);
      let color = calcScoreColor(score);
      let detailedColors = {};
      for (let key in producer.score) {
        let c = calcScoreColor(producer.score[key]);
        detailedColors[key] = 'background-color: rgb(' + c[0] + ', ' + c[1] + ', ' + c[2] + ');';
      }
      let voteBalance = 0;
      for (let si of scoreInheritance) {
        if (si.source === 'producer-' + producer.id) {
          voteBalance = si.weight;
          break;
        }
      }
      prdcrs.push({
        id: producer.id,
        name: prefLocale.name,
        score: score,
        voteBalance: voteBalance,
        vote: 0,
        color: 'background-color: rgb(' + color[0] + ', ' + color[1] + ', ' + color[2] + ');',
        detailedScore: producer.score,
        detailedColors: detailedColors,
        logo: prefLocale.logoUrls[0],
        url: 'producer.html#' + producer.id
      });
    }
    console.log(prdcrs);

    let labs = [];
    for (let lab of labels) {
      /* Fetch the preferred locale, matching the product's preferred locale (s.a.) */
      let prefLocale = {}
      if (lang in lab.locales) {
        prefLocale = lab.locales[lang];
      } else {
        // if undefined, create default empty locale
        prefLocale = setDefaultIfEmpty(prefLocale);
      }
      let score = calcTotalScore(lab.score, preferences.scoreWeighting);
      let color = calcScoreColor(score);
      let detailedColors = {};
      for (let key in lab.score) {
        let c = calcScoreColor(lab.score[key]);
        detailedColors[key] = 'background-color: rgb(' + c[0] + ', ' + c[1] + ', ' + c[2] + ');';
      }
      let voteBalance = 0;
      for (let si of scoreInheritance) {
        if (si.source === 'label-' + lab.id) {
          voteBalance = si.weight;
          break;
        }
      }
      labs.push({
        id: lab.id,
        name: prefLocale.name,
        score: score,
        voteBalance: voteBalance,
        vote: 0,
        color: 'background-color: rgb(' + color[0] + ', ' + color[1] + ', ' + color[2] + ');',
        detailedScore: lab.score,
        detailedColors: detailedColors,
        logo: prefLocale.logoUrls[0],
        url: 'label.html#' + lab.id
      });
    }
    console.log(labs);

    let comments = [];
    /* Filter comments belonging to the product's preferred locale (s.a.) */
    let myComments = commentsProduct.filter(comment => comment.lang === lang);
    for (let comment of myComments) {
      let createDate = new Date(comment.createdAt);
      let createDateInLocale = new Intl.DateTimeFormat(
        preferences.locale, datetimeOptions).format(createDate);
      comments.push({
        text: comment.text,
        voteBalance: comment.weight,
        vote: 0,
        createDateUTC: 'UTC timestamp: ' + comment.createdAt,
        createDate: createDateInLocale,
        createUser: comment.createdBy,
        createUserAvatar: 'images/avatars/' + comment.createdBy + '.png',
        createUserURL: 'user.html#' + comment.createdBy
      });
    }
    console.log(comments);

    let dateOptions = {
      year: 'numeric', // or: '2-digit',
      month: 'short',
      day: 'numeric'
    };

    let infos = [];
    for (let info of informations) {
      /* Fetch the preferred locale, matching the product's preferred locale (s.a.) */
      let prefLocale = {}
      if (lang in info.locales) {
        prefLocale = info.locales[lang];
      } else {
        // if undefined, create default empty locale
        prefLocale = setDefaultIfEmpty(prefLocale);
      }
      let sources = [];
      for (let source of info.sources) {
        let accessDate = new Date(source.accessDate);
        let accessDateInLocale = new Intl.DateTimeFormat(
          preferences.locale, dateOptions).format(accessDate);
        sources.push({
          title: source.title,
          authors: source.authors,
          url: source.url,
          accessDate: accessDateInLocale
        })
      }
      let badgeClass = "";
      let badgeLabel = "";
      let badgeTooltip = "";
      switch (info.infoCategory) {
        case "GENERAL_INFORMATION":
          badgeClass = "badge-general";
          badgeLabel = "Information";
          badgeTooltip = "General information";
          break;
        case "LIFE_CYCLE_ANALYSIS":
          badgeClass = "badge-lca";
          badgeLabel = "LCA";
          badgeTooltip = "Information from life cycle assessment";
          break;
        case "EXTERNAL_COSTS":
          badgeClass = "badge-ext";
          badgeLabel = "External cost";
          badgeTooltip = "Information from external cost calculation";
          break;
        case "REPORT":
          badgeClass = "badge-report";
          badgeLabel = "Report";
          badgeTooltip = "Information reported from a non-governmental or governmental organization";
          break;
        case "PAPER":
          badgeClass = "badge-paper";
          badgeLabel = "Paper";
          badgeTooltip = "Information from scientific article";
          break;
        case "MEDIA":
          badgeClass = "badge-media";
          badgeLabel = "Media";
          badgeTooltip = "Information from media coverage, e.g. press article";
          break;
        case "INVESTIGATIVE_REPORT":
          badgeClass = "badge-investigative";
          badgeLabel = "Investigative";
          badgeTooltip = "Information from investigative article or report";
          break;
        case "CORPORATE_SOCIAL_RESPONSIBILITY":
          badgeClass = "badge-csr";
          badgeLabel = "CSR";
          badgeTooltip = "Information from a Corporate Social Responsibility report, i.e. from the corporation itself";
          break;
        case "JURISDICTION":
          badgeClass = "badge-juris";
          badgeLabel = "Jurisdiction";
          badgeTooltip = "Information from jurisdiction, e.g. a lawsuit or a sentence";
          break;
        case "OTHER":
          badgeClass = "badge-other";
          badgeLabel = "Other";
          badgeTooltip = "Other kind of information";
          break;
      }
      let infoRatings = [];
      /* Filter ratings belonging to this information */
      let myRatings = ratings.filter(rating => rating.information === info.id);
      for (let rating of myRatings) {
        let detailedColors = {};
        let detailedPositions = {};
        for (let key in rating.score) {
          if (rating.score[key] !== undefined) {
            let c = calcScoreColor(rating.score[key]);
            detailedColors[key] = 'background-color: rgb(' + c[0] + ', ' + c[1] + ', ' + c[2] + ');';
            detailedPositions[key] = 'left: ' + (rating.score[key] + 100) / 2 + '%';
          }
        }
        let createDate = new Date(rating.createdAt);
        let createDateInLocale = new Intl.DateTimeFormat(
          preferences.locale, datetimeOptions).format(createDate);
        infoRatings.push({
          detailedScore: rating.score,
          detailedColors: detailedColors,
          detailedPositions: detailedPositions,
          vote: 0,
          voteBalance: rating.weight,
          createDateUTC: 'UTC timestamp: ' + rating.createdAt,
          createDate: createDateInLocale,
          createUser: rating.createdBy,
          createUserURL: 'user.html#' + rating.createdBy,
        })
      }
      let createDate = new Date(info.createdAt);
      let createDateInLocale = new Intl.DateTimeFormat(
        preferences.locale, datetimeOptions).format(createDate);
      infos.push({
        id: info.id,
        badgeClass: badgeClass,
        badgeLabel: badgeLabel,
        badgeTooltip: badgeTooltip,
        title: prefLocale.title,
        description: prefLocale.description,
        sources: sources,
        voteBalance: info.weight,
        vote: 0,
        createDateUTC: 'UTC timestamp: ' + info.createdAt,
        createDate: createDateInLocale,
        createUser: info.createdBy,
        createUserAvatar: 'images/avatars/' + info.createdBy + '.png',
        createUserURL: 'user.html#' + info.createdBy,
        ratings: infoRatings
      });
    }
    console.log(infos);

    /**************
     * Components *
     **************/

    const voteUp = (entity) => {
      if (entity.vote < 1) {
        entity.voteBalance += 1;
        entity.vote += 1;
      }
    }
    const voteDown = (entity) => {
      if (entity.vote > -1) {
        entity.voteBalance -= 1;
        entity.vote -= 1;
      }
    }

    Vue.component('vote-wedges', {
      props: ['entity'],
      methods: {
        voteUp: voteUp,
        voteDown: voteDown
      },
      template: `
        <div class="vote hcenter">
          <div class="vote-wedge vote-wedge-up" v-bind:class="{ voted: entity.vote === 1 }" v-on:click="voteUp(entity)"></div>
          <div class="vote-balance">{{ entity.voteBalance }}</div>
          <div class="vote-wedge vote-wedge-down" v-bind:class="{ voted: entity.vote === -1 }" v-on:click="voteDown(entity)"></div>
        </div>
      `
    });
    Vue.component('prod-header', {
      // data: function() {
      //   return {
      //     count: 0
      //   }
      // },
      props: ['prod'],
      template: '<div class="detail-header"><h1 v-bind:title="prod.name">{{ prod.name }}</h1></div>'
    });
    Vue.component('prod-img', {
      props: ['prod'],
      template: '<div class="detail-img"><img v-bind:style="prod.imgStyle"></div>'
    });
    Vue.component('prod-desc', {
      props: ['prod'],
      template: '<div class="detail-desc"><p>{{ prod.desc }}</p></div>'
    });
    Vue.component('prod-data', {
      props: ['prod'],
      template: `
        <div class="detail-data">
          <div class="separator"></div>
          <div class="data-row score-blob-row">
            <div class="detail-data-text">Score:</div>
            <div class="total-score-blob">
              <score-blob v-bind:color="prod.color" v-bind:score="prod.score" v-bind:text="prod.score"></score-blob>
            </div>
          </div>
          <div class="total-score-bar-container">
            <div class="total-score-bar">
              <div class="score-bar">
                <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                <div class="score-bar-tick score-bar-tick-zero"></div>
                <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                <div class="score-bar-tick score-bar-tick-fifty"></div>
                <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                <div class="score-blob-gray" v-bind:style="prod.position"></div>
              </div>
              <div class="score-bar-label-row">
                <span class="score-bar-label score-bar-label-min">-100</span>
                <span class="score-bar-label score-bar-label-zero">0</span>
                <span class="score-bar-label score-bar-label-max">100</span>
              </div>
            </div>
          </div>
          <div class="separator"></div>
          <div class="data-row">
            <div class="detail-data-text">Quantity:</div>
            <div class="detail-data-text">{{ prod.quant }}</div>
          </div>
          <div class="data-row">
            <div class="detail-data-text">Price:</div>
            <div class="detail-data-text">{{ prod.priceCurr }}</div>
          </div>
        </div>
      `
    });
    Vue.component('prod-created', {
      props: ['prod'],
      template: `
        <div class="user-created-box">
          <div class="user-date">created <span class="date" v-bind:title="prod.createDateUTC">{{ prod.createDate }}</span> by:</div>
          <div class="user-infos">
            <a v-bind:href="prod.createUserURL"><img class="avatar" v-bind:src="prod.createUserAvatar"></a>
            <div class="user-details">
              <a v-bind:href="prod.createUserURL" class="user-name">{{ prod.createUser }}</a>
              <div class="user-reputation" title="User's reputation score: 12">
                <img src="icons/md-heart.svg" alt="Reputation" class="inline-icon">
                <span>12</span>
              </div>
            </div>
          </div>
        </div>
      `
    });
    Vue.component('score-hovercard', {
      props: ['screen', 'entity'],
      template: `
        <div v-bind:id="'hovercard-' + screen + '-' + entity.id" class="hovercard" style="display: none;" data-permanent=false>
          <div class="hovercard-row">
            <div>Environment:</div>
            <score-blob class="score-blob-small" v-bind:color="entity.detailedColors.environment" v-bind:score="entity.detailedScore.environment" v-bind:text="entity.detailedScore.environment"></score-blob>
          </div>
          <div class="hovercard-row">
            <div>Climate:</div>
            <score-blob class="score-blob-small" v-bind:color="entity.detailedColors.climate" v-bind:score="entity.detailedScore.climate" v-bind:text="entity.detailedScore.climate"></score-blob>
          </div>
          <div class="hovercard-row">
            <div>Society:</div>
            <score-blob class="score-blob-small" v-bind:color="entity.detailedColors.society" v-bind:score="entity.detailedScore.society" v-bind:text="entity.detailedScore.society"></score-blob>
          </div>
          <div class="hovercard-row">
            <div>Health:</div>
            <score-blob class="score-blob-small" v-bind:color="entity.detailedColors.health" v-bind:score="entity.detailedScore.health" v-bind:text="entity.detailedScore.health"></score-blob>
          </div>
          <div class="hovercard-row">
            <div>Animal welfare:</div>
            <score-blob class="score-blob-small" v-bind:color="entity.detailedColors.animalWelfare" v-bind:score="entity.detailedScore.animalWelfare" v-bind:text="entity.detailedScore.animalWelfare"></score-blob>
          </div>
          <div class="hovercard-row">
            <div>Economy:</div>
            <score-blob class="score-blob-small" v-bind:color="entity.detailedColors.economy" v-bind:score="entity.detailedScore.economy" v-bind:text="entity.detailedScore.economy"></score-blob>
          </div>
        </div>
      `
    });
    Vue.component('entity-listing', {
      props: ['screen', 'entity-name', 'entity-name-long', 'entities', 'entity-product-connection'],
      methods: {
        placeInfoHovercard: (hovercard_id, button_id, what) => {
          let hovercard = document.getElementById(hovercard_id);
          let permanent = hovercard.getAttribute('data-permanent');
          let show = false;
          let hide = false;
          if (permanent === "false" && what === 'mouseover') show = true;
          else if (permanent === "false" && what === 'mouseout') hide = true;
          else if (permanent === "false" && what === 'click') {
            hovercard.setAttribute('data-permanent', true);
            show = true;
          } else if (permanent === "true" && what === 'click') {
            hovercard.setAttribute('data-permanent', false);
            show = false;
          }
          if (show) {
            let blob = document.getElementById(button_id);
            let rect = blob.getBoundingClientRect();
            let windowWidth = (window.innerWidth || document.documentElement.clientWidth ||
              document.body.clientWidth);
            let windowHeight = (window.innerHeight || document.documentElement.clientHeight ||
              document.body.clientHeight);
            let leftOffset = blob.clientWidth;
            let above = true;
            if (rect.top < 225) {
              above = false;
            }
            if (!above) {
              hovercard.classList.remove('hovercard-above');
              hovercard.style.top = (rect.bottom + 10) + 'px';
              hovercard.style.bottom = null;
            } else {
              hovercard.classList.add('hovercard-above');
              hovercard.style.top = null;
              hovercard.style.bottom = (windowHeight - rect.top + 10) + 'px';
            }
            hovercard.style.left = (rect.left - leftOffset) + 'px';
            hovercard.style.display = 'block';
          } else if (hide) {
            hovercard.style.display = 'none';
          }
        },
        placeScoreHovercard: (hovercard_id, button_id, what) => {
          let hovercard = document.getElementById(hovercard_id);
          let permanent = hovercard.getAttribute('data-permanent');
          let show = false;
          let hide = false;
          if (permanent === "false" && what === 'mouseover') show = true;
          else if (permanent === "false" && what === 'mouseout') hide = true;
          else if (permanent === "false" && what === 'click') {
            hovercard.setAttribute('data-permanent', true);
            show = true;
          } else if (permanent === "true" && what === 'click') {
            hovercard.setAttribute('data-permanent', false);
            show = false;
          }
          if (show) {
            let blob = document.getElementById(button_id);
            let rect = blob.getBoundingClientRect();
            let windowWidth = (window.innerWidth || document.documentElement.clientWidth ||
              document.body.clientWidth);
            let windowHeight = (window.innerHeight || document.documentElement.clientHeight ||
              document.body.clientHeight);
            let leftOffset = blob.clientWidth;
            let above = false;
            if (windowHeight - rect.top < 300) {
              above = true;
            }
            if (!above) {
              hovercard.classList.remove('hovercard-above');
              hovercard.style.top = (rect.bottom + 10) + 'px';
              hovercard.style.bottom = null;
            } else {
              hovercard.classList.add('hovercard-above');
              hovercard.style.top = null;
              hovercard.style.bottom = (windowHeight - rect.top + 10) + 'px';
            }
            hovercard.style.left = (rect.left - leftOffset) + 'px';
            hovercard.style.display = 'block';
          } else if (hide) {
            hovercard.style.display = 'none';
          }
        },
        voteUp: voteUp,
        voteDown: voteDown
      },
      template: `
        <div>
          <div v-bind:id="'info-hovercard-' + screen + '-' + entityName" class="hovercard hovercard-info" style="display: none;" data-permanent=false>
            <strong>How important</strong> is it that the product <span v-html="entityProductConnection"></span>? <strong>Vote up</strong> if you think that the {{ entityNameLong }}'s score should <strong>influence</strong> the product's score. <strong>Vote down</strong> if you
            think it's <strong>not appropriate</strong>.
          </div>
          <div v-for="entity in entities">
            <div class="entity-listing" v-bind:class="{ negative: entity.voteBalance < 0 }">
              <div class="vote hcenter">
                <img v-bind:id="'info-' + screen + '-' + entity.id" class="vote-info" src="icons/md-information-circle.svg" alt="information" v-on:click="placeInfoHovercard('info-hovercard-' + screen + '-' + entityName, 'info-' + screen + '-' + entity.id, 'click')" v-on:touchend="placeInfoHovercard('info-hovercard-' + screen + '-' + entityName, 'info-' + screen + '-' + entity.id, 'click')"
                  v-on:mouseover="placeInfoHovercard('info-hovercard-' + screen + '-' + entityName, 'info-' + screen + '-' + entity.id, 'mouseover')" v-on:mouseout="placeInfoHovercard('info-hovercard-' + screen + '-' + entityName, 'info-' + screen + '-' + entity.id, 'mouseout')">
                <div class="vote-wedge vote-wedge-up" v-bind:class="{ voted: entity.vote === 1 }" v-on:click="voteUp(entity)"></div>
                <div class="vote-balance">{{ entity.voteBalance }}</div>
                <div class="vote-wedge vote-wedge-down" v-bind:class="{ voted: entity.vote === -1 }" v-on:click="voteDown(entity)"></div>
              </div>
              <div class="total-score-blob detail-data-text noselect pointer" v-on:click="placeScoreHovercard('hovercard-' + screen + '-' + entity.id, 'blob-' + screen + '-' + entity.id, 'click')" v-on:touchend="placeScoreHovercard('hovercard-' + screen + '-' + entity.id, 'blob-' + screen + '-' + entity.id, 'click')" v-on:mouseover="placeScoreHovercard('hovercard-' + screen + '-' + entity.id, 'blob-' + screen + '-' + entity.id, 'mouseover')" v-on:mouseout="placeScoreHovercard('hovercard-' + screen + '-' + entity.id, 'blob-' + screen + '-' + entity.id, 'mouseout')">
                <score-blob v-bind:id="'blob-' + screen + '-' + entity.id" v-bind:color="entity.color" v-bind:score="entity.score" v-bind:text="entity.score"></score-blob>
              </div>
              <div class="entity-name" v-bind:title="entity.name">
                <a v-bind:href="entity.url">
                  {{ entity.name }}
                </a>
              </div>
              <div>
                <a v-bind:href="entity.url">
                  <img v-bind:src="entity.logo" v-bind:alt="entity.name + ' Logo'" class="logo">
                </a>
              </div>
            </div>
            <!-- Hovercard with details on the entity score: -->
            <score-hovercard v-bind:screen="screen" v-bind:entity="entity"></score-hovercard>
          </div>
        </div>
      `
    })
    Vue.component('prod-inherited', {
      props: ['screen', 'producers', 'labels', 'product-categories', 'contained-products'],
      template: `
        <div class="alternating-boxes">
          <div class="producers" v-if="producers.length > 0">
            <h4 v-if="producers.length > 1">Producers:</h4>
            <h4 v-else>Producer:</h4>
            <entity-listing v-bind:screen="screen" entity-name="producer" entity-name-long="producer" v-bind:entities="producers" entity-product-connection="is produced by this producer"></entity-listing>
          </div>
          <div class="labels" v-if="labels.length > 0">
            <h4 v-if="labels.length > 1">Labels:</h4>
            <h4 v-else>Label:</h4>
            <entity-listing v-bind:screen="screen" entity-name="label" entity-name-long="label" v-bind:entities="labels" entity-product-connection="bears this label"></entity-listing>
          </div>
          <div class="product-categories" v-if="productCategories.length > 0">
            <h4 v-if="productCategories.length > 1">Product Categories:</h4>
            <h4 v-else>Product Category:</h4>
          </div>
          <div class="contained-products" v-if="containedProducts.length > 0">
            <h4 v-if="containedProducts.length > 1">Contained Products:</h4>
            <h4 v-else>Contained Product:</h4>
          </div>
        </div>
      `
    });
    Vue.component('score-bar', {
      props: ['pos'],
      template: `
        <div class="score-bar">
          <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
          <div class="score-bar-tick score-bar-tick-minusfifty"></div>
          <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
          <div class="score-bar-tick score-bar-tick-zero"></div>
          <div class="score-bar-tick score-bar-tick-twentyfive"></div>
          <div class="score-bar-tick score-bar-tick-fifty"></div>
          <div class="score-bar-tick score-bar-tick-seventyfive"></div>
          <div class="score-blob-gray" v-bind:style="pos"></div>
        </div>
      `
    });
    Vue.component('score-bar-with-labels', {
      props: ['pos'],
      template: `
        <div>
          <score-bar v-bind:pos="pos"></score-bar>
          <div class="score-bar-label-row">
            <span class="score-bar-label score-bar-label-min">-100</span>
            <span class="score-bar-label score-bar-label-zero">0</span>
            <span class="score-bar-label score-bar-label-max">100</span>
          </div>
        </div>
      `
    });
    Vue.component('score-table', {
      props: ['entity'],
      template: `
        <table class="score-table">
          <tbody>
            <tr v-if="'environment' in entity.detailedColors">
              <td class="detail-score-label">Environment:</td>
              <td class="detail-score-blob">
                <score-blob class="score-blob-small" v-bind:color="entity.detailedColors.environment" v-bind:score="entity.detailedScore.environment" v-bind:text="entity.detailedScore.environment"></score-blob>
              </td>
              <td class="detail-score-bar">
                <score-bar v-bind:pos="entity.detailedPositions.environment"></score-bar>
              </td>
            </tr>
            <tr v-if="'climate' in entity.detailedColors">
              <td class="detail-score-label">Climate:</td>
              <td class="detail-score-blob">
                <score-blob class="score-blob-small" v-bind:color="entity.detailedColors.climate" v-bind:score="entity.detailedScore.climate" v-bind:text="entity.detailedScore.climate"></score-blob>
              </td>
              <td class="detail-score-bar">
                <score-bar v-bind:pos="entity.detailedPositions.climate"></score-bar>
              </td>
            </tr>
            <tr v-if="'society' in entity.detailedColors">
              <td class="detail-score-label">Society:</td>
              <td class="detail-score-blob">
                <score-blob class="score-blob-small" v-bind:color="entity.detailedColors.society" v-bind:score="entity.detailedScore.society" v-bind:text="entity.detailedScore.society"></score-blob>
              </td>
              <td class="detail-score-bar">
                <score-bar v-bind:pos="entity.detailedPositions.society"></score-bar>
              </td>
            </tr>
            <tr v-if="'health' in entity.detailedColors">
              <td class="detail-score-label">Health:</td>
              <td class="detail-score-blob">
                <score-blob class="score-blob-small" v-bind:color="entity.detailedColors.health" v-bind:score="entity.detailedScore.health" v-bind:text="entity.detailedScore.health"></score-blob>
              </td>
              <td class="detail-score-bar">
                <score-bar v-bind:pos="entity.detailedPositions.health"></score-bar>
              </td>
            </tr>
            <tr v-if="'animalWelfare' in entity.detailedColors">
              <td class="detail-score-label">Animal welfare:</td>
              <td class="detail-score-blob">
                <score-blob class="score-blob-small" v-bind:color="entity.detailedColors.animalWelfare" v-bind:score="entity.detailedScore.animalWelfare" v-bind:text="entity.detailedScore.animalWelfare"></score-blob>
              </td>
              <td class="detail-score-bar">
                <score-bar v-bind:pos="entity.detailedPositions.animalWelfare"></score-bar>
              </td>
            </tr>
            <tr v-if="'economy' in entity.detailedColors">
              <td class="detail-score-label">Economy:</td>
              <td class="detail-score-blob">
                <score-blob class="score-blob-small" v-bind:color="entity.detailedColors.economy" v-bind:score="entity.detailedScore.economy" v-bind:text="entity.detailedScore.economy"></score-blob>
              </td>
              <td class="detail-score-bar">
                <score-bar-with-labels v-bind:pos="entity.detailedPositions.economy"></score-bar-with-labels>
              </td>
            </tr>
          </tbody>
        </table>
      `
    });
    Vue.component('prod-detailed', {
      props: ['prod'],
      template: `
        <div class="detail-score">
          <h4>Detailed Score:</h4>
          <score-table v-bind:entity="prod"></score-table>
        </div>
      `
    });

    let productPage = new Vue({
      el: '#main-content',
      data: {
        prod: prod,
        producers: prdcrs,
        productCategories: productCategories,
        containedProducts: containedProducts,
        labels: labs,
        comments: comments,
        informations: infos
      }
    });
  </script>
</body>

</html>