<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>The Viridian Network</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/detail-page.css">
  <link rel="stylesheet" type="text/css" href="css/score-bar.css">
</head>

<body>
  <header>
    <div id="header-top" class="three-full-widths">
      <div id="normal-header">
        <div>
          <img src="images/viridian_logo_bw_offwhite.svg" alt="Viridian Logo">
          <span id="brand-big">The Viridian Network</span>
          <span id="brand-small">Viridian</span>
        </div>
        <nav>
          <ul>
            <li>
              <a title="Search" href="#" onclick="document.getElementById('header-top').classList.add('slided-to-left-1-of-2');">
                <img src="icons/md-search.svg" alt="Search"><span id="search-span">Search</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="search-header">
        <a title="Back" href="#" onclick="document.getElementById('header-top').classList.remove('slided-to-left-1-of-2');">
          <img src="icons/md-arrow-back.svg" alt="Back">
        </a>
        <nav>
          <ul>
            <li>
              <a title="Search by Barcode" href="#">
                <img src="icons/barcode.svg" alt="Search by Barcode"><span id="barcode-search-span">Search by Barcode</span>
              </a>
            </li>
            <li>
              <a title="Search by Product Name" href="#" onclick="document.getElementById('header-top').classList.remove('slided-to-left-1-of-2'); document.getElementById('header-top').classList.add('slided-to-left-2-of-2');">
                <img src="icons/font.svg" alt="Search by Product Name"><span id="product-name-search-span">Search by Product Name</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="search-textinput-header">
        <a title="Back" href="#" onclick="document.getElementById('header-top').classList.remove('slided-to-left-2-of-2'); document.getElementById('header-top').classList.add('slided-to-left-1-of-2');">
          <img src="icons/md-arrow-back.svg" alt="Back">
        </a>
        <div><input type="text" name="product-name" id="product-name"></div>
        <a title="Submit" href="products-search-results.html">
          <img src="icons/md-send.svg" alt="Submit">
        </a>
      </div>
    </div>
    <ul id="header-tabs">
      <li>
        <a title="Products" class="active-tab" href="products.html"><img src="icons/md-cube.svg" alt="Products"><span id="products-span">Products</span></a>
      </li>
      <li>
        <a title="Labels" href="labels.html"><img src="icons/award.svg" alt="Labels"><span id="labels-span">Labels</span></a>
      </li>
      <li>
        <a title="Companies" href="companies.html"><img src="icons/building.svg" alt="Companies"><span id="companies-span">Companies</span></a>
      </li>
    </ul>
  </header>
  <div id="main-content">
    <section id="detail-overview">
      <div id="detail-overview-large" class="detail-overview-box">
        <div class="detail-left-col">
          <div class="detail-img">
            <img v-bind:style="prod.imgStyle">
          </div>
          <div class="detail-data">
            <div class="data-row score-blob-row">
              <div class="detail-data-text">Score:</div>
              <div class="total-score-blob detail-data-text">
                <div class="score-bar-indicator" v-bind:style="prod.color">
                  <span>{{ prod.score }}</span>
                </div>
              </div>
            </div>
            <div class="total-score-bar-container">
              <div class="total-score-bar">
                <div class="score-bar">
                  <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                  <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                  <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                  <div class="score-bar-tick score-bar-tick-zero"></div>
                  <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                  <div class="score-bar-tick score-bar-tick-fifty"></div>
                  <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                  <div class="score-bar-indicator-gray" v-bind:style="prod.position"></div>
                </div>
                <div class="score-bar-label-row">
                  <span class="score-bar-label score-bar-label-min">-100</span>
                  <span class="score-bar-label score-bar-label-zero">0</span>
                  <span class="score-bar-label score-bar-label-max">100</span>
                </div>
              </div>
            </div>
            <div class="data-row">
              <div class="detail-data-text">Quantity:</div>
              <div class="detail-data-text">{{ prod.quant }}</div>
            </div>
            <div class="data-row">
              <div class="detail-data-text">Price:</div>
              <div class="detail-data-text">{{ prod.priceCurr }}</div>
            </div>
            <div class="user-created-box">
              <div class="user-date">created <span class="date" v-bind:title="prod.createDateUTC">{{ prod.createDate }}</span> by:</div>
              <div class="user-infos">
                <img class="avatar" v-bind:src="prod.createUserAvatar">
                <div class="user-details">
                  <a v-bind:href="prod.createUserURL" class="user-name">{{ prod.createUser }}</a>
                  <div class="user-reputation" title="User's reputation score: 12">
                    <img src="icons/md-heart.svg" alt="Reputation" class="inline-icon">
                    <span>12</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="detail-right-col">
          <div class="detail-header">
            <h2 v-bind:title="prod.name">{{ prod.name }}</h2>
          </div>
          <div class="detail-desc">
            <p>{{ prod.desc }}</p>
          </div>
          <div class="producers" v-if="producers.length > 0">
            <h4 v-if="producers.length > 1">Producers:</h4>
            <h4 v-else>Producer:</h4>
            <div v-for="producer in producers">
              <table class="score-table">
                <tbody>
                  <tr>
                    <td class="hcenter">
                      <div class="vote-wedge vote-wedge-up"></div>
                      <div class="vote-balance">12</div>
                      <div class="vote-wedge vote-wedge-down"></div>
                    </td>
                    <td class="total-score-blob detail-data-text">
                      <div class="score-bar-indicator" v-bind:style="producer.color">
                        <span>{{ producer.score }}</span>
                      </div>
                    </td>
                    <td class="entity-name">
                      <div>{{ producer.name }} Schießmichtotundgut</div>
                    </td>
                    <td>
                      <!-- <img v-bind:src="producer.logo" v-bind:alt="producer.name" class="logo"> -->
                      <div style="width: 80px;background-color: gray;height: 80px;"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="product-categories" v-if="productCategories.length > 0">
            <h4 v-if="productCategories.length > 1">Product Categories:</h4>
            <h4 v-else>Product Category:</h4>
          </div>
          <div class="contained-products" v-if="containedProducts.length > 0">
            <h4 v-if="containedProducts.length > 1">Contained Products:</h4>
            <h4 v-else>Contained Product:</h4>
          </div>
          <div class="labels" v-if="labels.length > 0">
            <h4 v-if="labels.length > 1">Labels:</h4>
            <h4 v-else>Label:</h4>
          </div>
          <div class="detail-score">
            <h4>Detailed Score:</h4>
            <table class="score-table">
              <tbody>
                <tr>
                  <td class="detail-score-label">Environment:</td>
                  <td class="detail-score-blob">
                    <div class="score-bar-indicator score-bar-indicator-small" v-bind:style="prod.detailedColors.environment">
                      <span>{{ prod.detailedScore.environment }}</span>
                    </div>
                  </td>
                  <td class="detail-score-bar">
                    <div class="score-bar">
                      <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                      <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                      <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                      <div class="score-bar-tick score-bar-tick-zero"></div>
                      <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                      <div class="score-bar-tick score-bar-tick-fifty"></div>
                      <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                      <div class="score-bar-indicator-gray" v-bind:style="prod.detailedPositions.environment"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="detail-score-label">Climate:</td>
                  <td class="detail-score-blob">
                    <div class="score-bar-indicator score-bar-indicator-small" v-bind:style="prod.detailedColors.climate">
                      <span>{{ prod.detailedScore.climate }}</span>
                    </div>
                  </td>
                  <td class="detail-score-bar">
                    <div class="score-bar">
                      <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                      <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                      <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                      <div class="score-bar-tick score-bar-tick-zero"></div>
                      <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                      <div class="score-bar-tick score-bar-tick-fifty"></div>
                      <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                      <div class="score-bar-indicator-gray" v-bind:style="prod.detailedPositions.climate"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="detail-score-label">Society:</td>
                  <td class="detail-score-blob">
                    <div class="score-bar-indicator score-bar-indicator-small" v-bind:style="prod.detailedColors.society">
                      <span>{{ prod.detailedScore.society }}</span>
                    </div>
                  </td>
                  <td class="detail-score-bar">
                    <div class="score-bar">
                      <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                      <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                      <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                      <div class="score-bar-tick score-bar-tick-zero"></div>
                      <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                      <div class="score-bar-tick score-bar-tick-fifty"></div>
                      <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                      <div class="score-bar-indicator-gray" v-bind:style="prod.detailedPositions.society"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="detail-score-label">Health:</td>
                  <td class="detail-score-blob">
                    <div class="score-bar-indicator score-bar-indicator-small" v-bind:style="prod.detailedColors.health">
                      <span>{{ prod.detailedScore.health }}</span>
                    </div>
                  </td>
                  <td class="detail-score-bar">
                    <div class="score-bar">
                      <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                      <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                      <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                      <div class="score-bar-tick score-bar-tick-zero"></div>
                      <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                      <div class="score-bar-tick score-bar-tick-fifty"></div>
                      <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                      <div class="score-bar-indicator-gray" v-bind:style="prod.detailedPositions.health"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="detail-score-label">Animal welfare:</td>
                  <td class="detail-score-blob">
                    <div class="score-bar-indicator score-bar-indicator-small" v-bind:style="prod.detailedColors.animalWelfare">
                      <span>{{ prod.detailedScore.animalWelfare }}</span>
                    </div>
                  </td>
                  <td class="detail-score-bar">
                    <div class="score-bar">
                      <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                      <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                      <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                      <div class="score-bar-tick score-bar-tick-zero"></div>
                      <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                      <div class="score-bar-tick score-bar-tick-fifty"></div>
                      <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                      <div class="score-bar-indicator-gray" v-bind:style="prod.detailedPositions.animalWelfare"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="detail-score-label">Economy:</td>
                  <td class="detail-score-blob">
                    <div class="score-bar-indicator score-bar-indicator-small" v-bind:style="prod.detailedColors.economy">
                      <span>{{ prod.detailedScore.economy }}</span>
                    </div>
                  </td>
                  <td class="detail-score-bar">
                    <div class="score-bar">
                      <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                      <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                      <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                      <div class="score-bar-tick score-bar-tick-zero"></div>
                      <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                      <div class="score-bar-tick score-bar-tick-fifty"></div>
                      <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                      <div class="score-bar-indicator-gray" v-bind:style="prod.detailedPositions.economy"></div>
                    </div>
                    <div class="score-bar-label-row">
                      <span class="score-bar-label score-bar-label-min">-100</span>
                      <span class="score-bar-label score-bar-label-zero">0</span>
                      <span class="score-bar-label score-bar-label-max">100</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="detail-overview-small" class="detail-overview-box">
        <div class="detail-header">
          <h2 v-bind:title="prod.name">{{ prod.name }}</h2>
        </div>
        <div class="detail-img">
          <img v-bind:style="prod.imgStyle">
        </div>
        <div class="detail-desc">
          <p>{{ prod.desc }}</p>
        </div>
        <div class="detail-data">
          <div class="data-row score-blob-row">
            <div class="detail-data-text">Score:</div>
            <div class="total-score-blob detail-data-text">
              <div class="score-bar-indicator" v-bind:style="prod.color">
                <span>{{ prod.score }}</span>
              </div>
            </div>
          </div>
          <div class="total-score-bar-container">
            <div class="total-score-bar">
              <div class="score-bar">
                <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                <div class="score-bar-tick score-bar-tick-zero"></div>
                <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                <div class="score-bar-tick score-bar-tick-fifty"></div>
                <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                <div class="score-bar-indicator-gray" v-bind:style="prod.position"></div>
              </div>
              <div class="score-bar-label-row">
                <span class="score-bar-label score-bar-label-min">-100</span>
                <span class="score-bar-label score-bar-label-zero">0</span>
                <span class="score-bar-label score-bar-label-max">100</span>
              </div>
            </div>
          </div>
          <div class="data-row">
            <div class="detail-data-text">Quantity:</div>
            <div class="detail-data-text">{{ prod.quant }}</div>
          </div>
          <div class="data-row">
            <div class="detail-data-text">Price:</div>
            <div class="detail-data-text">{{ prod.priceCurr }}</div>
          </div>
        </div>
        <div class="detail-score">
          <h4>Detailed Score:</h4>
          <table class="score-table">
            <tbody>
              <tr>
                <td class="detail-score-label">Environment:</td>
                <td class="detail-score-blob">
                  <div class="score-bar-indicator score-bar-indicator-small" v-bind:style="prod.detailedColors.environment">
                    <span>{{ prod.detailedScore.environment }}</span>
                  </div>
                </td>
                <td class="detail-score-bar">
                  <div class="score-bar">
                    <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                    <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                    <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                    <div class="score-bar-tick score-bar-tick-zero"></div>
                    <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                    <div class="score-bar-tick score-bar-tick-fifty"></div>
                    <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                    <div class="score-bar-indicator-gray" v-bind:style="prod.detailedPositions.environment"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="detail-score-label">Climate:</td>
                <td class="detail-score-blob">
                  <div class="score-bar-indicator score-bar-indicator-small" v-bind:style="prod.detailedColors.climate">
                    <span>{{ prod.detailedScore.climate }}</span>
                  </div>
                </td>
                <td class="detail-score-bar">
                  <div class="score-bar">
                    <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                    <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                    <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                    <div class="score-bar-tick score-bar-tick-zero"></div>
                    <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                    <div class="score-bar-tick score-bar-tick-fifty"></div>
                    <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                    <div class="score-bar-indicator-gray" v-bind:style="prod.detailedPositions.climate"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="detail-score-label">Society:</td>
                <td class="detail-score-blob">
                  <div class="score-bar-indicator score-bar-indicator-small" v-bind:style="prod.detailedColors.society">
                    <span>{{ prod.detailedScore.society }}</span>
                  </div>
                </td>
                <td class="detail-score-bar">
                  <div class="score-bar">
                    <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                    <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                    <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                    <div class="score-bar-tick score-bar-tick-zero"></div>
                    <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                    <div class="score-bar-tick score-bar-tick-fifty"></div>
                    <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                    <div class="score-bar-indicator-gray" v-bind:style="prod.detailedPositions.society"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="detail-score-label">Health:</td>
                <td class="detail-score-blob">
                  <div class="score-bar-indicator score-bar-indicator-small" v-bind:style="prod.detailedColors.health">
                    <span>{{ prod.detailedScore.health }}</span>
                  </div>
                </td>
                <td class="detail-score-bar">
                  <div class="score-bar">
                    <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                    <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                    <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                    <div class="score-bar-tick score-bar-tick-zero"></div>
                    <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                    <div class="score-bar-tick score-bar-tick-fifty"></div>
                    <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                    <div class="score-bar-indicator-gray" v-bind:style="prod.detailedPositions.health"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="detail-score-label">Animal welfare:</td>
                <td class="detail-score-blob">
                  <div class="score-bar-indicator score-bar-indicator-small" v-bind:style="prod.detailedColors.animalWelfare">
                    <span>{{ prod.detailedScore.animalWelfare }}</span>
                  </div>
                </td>
                <td class="detail-score-bar">
                  <div class="score-bar">
                    <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                    <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                    <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                    <div class="score-bar-tick score-bar-tick-zero"></div>
                    <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                    <div class="score-bar-tick score-bar-tick-fifty"></div>
                    <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                    <div class="score-bar-indicator-gray" v-bind:style="prod.detailedPositions.animalWelfare"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="detail-score-label">Economy:</td>
                <td class="detail-score-blob">
                  <div class="score-bar-indicator score-bar-indicator-small" v-bind:style="prod.detailedColors.economy">
                    <span>{{ prod.detailedScore.economy }}</span>
                  </div>
                </td>
                <td class="detail-score-bar">
                  <div class="score-bar">
                    <div class="score-bar-tick score-bar-tick-minusseventyfive"></div>
                    <div class="score-bar-tick score-bar-tick-minusfifty"></div>
                    <div class="score-bar-tick score-bar-tick-minustwentyfive"></div>
                    <div class="score-bar-tick score-bar-tick-zero"></div>
                    <div class="score-bar-tick score-bar-tick-twentyfive"></div>
                    <div class="score-bar-tick score-bar-tick-fifty"></div>
                    <div class="score-bar-tick score-bar-tick-seventyfive"></div>
                    <div class="score-bar-indicator-gray" v-bind:style="prod.detailedPositions.economy"></div>
                  </div>
                  <div class="score-bar-label-row">
                    <span class="score-bar-label score-bar-label-min">-100</span>
                    <span class="score-bar-label score-bar-label-zero">0</span>
                    <span class="score-bar-label score-bar-label-max">100</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="user-created-box">
          <div class="user-date">created <span class="date" v-bind:title="prod.createDateUTC">{{ prod.createDate }}</span> by:</div>
          <div class="user-infos">
            <img class="avatar" v-bind:src="prod.createUserAvatar">
            <div class="user-details">
              <a v-bind:href="prod.createUserURL" class="user-name">{{ prod.createUser }}</a>
              <div class="user-reputation" title="User's reputation score: 12">
                <img src="icons/md-heart.svg" alt="Reputation" class="inline-icon">
                <span>12</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="detail-infos">
      <div class="button">+ Add information</div>
      <article v-for="info in informations">

      </article>
    </section>
  </div>
  <footer>
    <p>Copyright 2019 The Viridian Project</p>
  </footer>
  <!-- development version, includes helpful console warnings -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="js/vue.js"></script>
  <!-- <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script> -->
  <script src="score-color.js"></script>
  <script src="data/preferences.js"></script>
  <script src="data/products.js"></script>
  <script src="data/producers.js"></script>
  <script src="data/labels.js"></script>
  <script>
    var prod_id = window.location.href.replace(/(.*)#(.*)/, '$2');
    let index = -1;
    for (let i = 0; index < 0 && i < productSearchResults.length; i++) {
      if (productSearchResults[i].id == prod_id) index = i;
    }
    var product = productSearchResults[index];
    /* Fetch the preferred locale */
    let prefLocale = {};
    for (let lang of prefLanguages) {
      if (lang in product.locales) {
        prefLocale = product.locales[lang];
        break;
      }
    }
    // if no preferred locale is present, fall back to first existing locale
    if (Object.keys(prefLocale).length == 0 && Object.keys(product.locales).length > 0) { // is there easier way to access object length?
      prefLocale = Object.values(product.locales)[0];
    }
    // if still undefined, create default empty locale
    prefLocale = setDefaultIfEmpty(prefLocale);
    let score = calcTotalScore(product.score, preferences.scoreWeighting);
    let color = calcScoreColor(score);
    let detailedColors = {};
    let detailedPositions = {};
    for (let key in product.score) {
      let c = calcScoreColor(product.score[key]);
      detailedColors[key] = 'background-color: rgb(' + c[0] + ', ' + c[1] + ', ' + c[2] + ');';
      detailedPositions[key] = 'left: ' + (product.score[key] + 100) / 2 + '%';
    }
    let createDate = new Date(product.createdAt);
    let options = {
      year: 'numeric', // or: '2-digit',
      month: 'short',
      day: 'numeric',
      hour: 'numeric',
      minute: 'numeric'
    };
    let createDateInLocale = new Intl.DateTimeFormat(
      preferences.locale, options).format(createDate);

    var prod = {
      name: prefLocale.name,
      desc: prefLocale.description,
      quant: prefLocale.quantities[0],
      price: prefLocale.price,
      curr: prefLocale.currency,
      priceCurr: concatPriceAndCurrency(prefLocale.price, prefLocale.currency, preferences.locale),
      imgStyle: 'background-image: url("' + prefLocale.imageUrls[0] + '");',
      score: score,
      color: 'background-color: rgb(' + color[0] + ', ' + color[1] + ', ' + color[2] + ');',
      position: 'left: ' + (score + 100) / 2 + '%',
      detailedScore: product.score,
      detailedColors: detailedColors,
      detailedPositions: detailedPositions,
      createDateUTC: 'UTC timestamp: ' + product.createdAt,
      createDate: createDateInLocale,
      createUser: product.createdBy,
      createUserAvatar: 'images/avatars/' + product.createdBy + '.png',
      createUserURL: 'user.html#' + product.createdBy
    };
    console.log(prod);

    var productCategories = [];
    var containedProducts = [];

    var prdcrs = [];
    for (let producer of producers) {
      /* Fetch the preferred locale */
      let prefLocale = {};
      for (let lang of prefLanguages) {
        if (lang in producer.locales) {
          prefLocale = producer.locales[lang];
          break;
        }
      }
      // if no preferred locale is not present, fall back to first existing locale
      if (Object.keys(prefLocale).length == 0 && Object.keys(producer.locales).length > 0) { // is there easier way to access object length?
        prefLocale = Object.values(producer.locales)[0];
      }
      // if still undefined, create default empty locale
      prefLocale = setDefaultIfEmpty(prefLocale);
      let score = calcTotalScore(producer.score, preferences.scoreWeighting);
      let color = calcScoreColor(producer.score);
      prdcrs.push({
        name: prefLocale.name,
        score: score,
        color: 'background-color: rgb(' + color[0] + ', ' + color[1] + ', ' + color[2] + ');',
        logo: prefLocale.logoUrls[0]
      })
    }
    console.log(prdcrs);

    var product = new Vue({
      el: '#main-content',
      data: {
        prod: prod,
        producers: prdcrs,
        productCategories: productCategories,
        containedProducts: containedProducts,
        labels: labels
      }
    });
  </script>
</body>

</html>